form{
  @include row;
}

label + input[type='text']{
  cursor: pointer;
  display: block;
}

input[type='text']{
  @extend %border-box;
  @extend %trs05;
  border: 1px solid darken($gray, 10%);
  display: block;
  margin: 5px 0 0;
  outline: none;
  padding: 10px;
  width: 100%;

  &:focus{
    border: 1px solid $main-color;
  }

  &.disabled{
    background: $gray;
    color: darken($gray, 40%);

    &:focus{
      border: 1px solid darken($gray, 10%);
    }
  }
}

input[disabled]{
  background: $gray;
  color: darken($gray, 40%);
}

.icheckbox_square,
.iradio_square{
  @extend %trs05;
  background: #fff;
  border: 2px solid darken($gray, 20%);
  color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 22px;

  &.hover{
    border: 2px solid $main-color;
  }

  &.checked{
    background: $main-color;
    border: 2px solid $main-color;
    color: #fff;
    
    &.disabled{
      background: $gray;
      border: 2px solid darken($gray, 20%);
      color: darken($gray, 20%);
    }
  }

  &.disabled{
    background: $gray;
  }

  &::before{
    margin-top: 3px;
  }
}

.iradio_square{
  border-radius: 50%;
}
