.hb-main{
  @extend %border-box;
  @extend %trs03;
  background: #f3f3f3;
  height: 100%;
  @include span(8/10);
}

.hb-container-title{
  @extend %border-box;
  background: #f7f7f7;
  border-top: 1px solid #f7f7f7;
  padding: 2% 2% .5%;
  
  h1{
    margin: 0;
  }
}

.hb-container{
  @extend %border-box;
  padding: 2%;
  padding-bottom: 0;
}

.hb-wrapper.active .hb-main{
  @include span(9.5/10);
}

@include screen(320px, 480px) {
  .hb-main{
    @include span(10/10);
  }

  .hb-container,
  .hb-container-title{
    padding: 5%;
    padding-bottom: 0;
  }
}

@include screen(480px, 1024px) {
  .hb-main{
    @include span(8/10);
  }
}

@include min-screen(1366px) {
  .hb-main{
    @include span(8.5/10);
  }
}
