.msg{
  background: #fff;
  border: 1px solid darken($gray, 10%);
  margin: 20px 0;
  padding: 10px 15px;
  position: relative;

  p{
    color: $darken-s-color;
    font-size: 18px;
    margin: 0;
    padding-right: 40px;
  }

  a{
    color: $darken-s-color;
  }

  .hb-ico-times{
    @extend %trs03;
    background: none;
    border: 0;
    color: #fff;
    outline: none;
    padding: 4px 8px;
    position: absolute;
    right: 7px;
    top: 7px;
    
    &:active{
      color: #fff;
    }
  }
}

.success{
  background: #77d35c;
  border: 0;

  .hb-ico-times:hover{
    background: lighten(#77d35c, 10%);
  }

  p,
  a{
    color: $gray;
  }
}

.error{
  background: rgba(#e74c3c, .75);
  border: 0;
  
  .hb-ico-times:hover{
    background: lighten(#e74c3c, 20%);
  }

  p,
  a{
    color: $gray;
  }
}

.warning{
  background: #f9bf3b;
  border: 0;

  .hb-ico-times:hover{
    background: lighten(#f9bf3b, 15%);
  }

  p,
  a{
    color: $gray;
  }
}
