.hb-navigation-wrapper{
  @extend %trs03;
  @include span(2/10);
  position: relative;
}

.hb-sidebar{
  @extend %border-box;
  @extend %trs03;
  background: $darken-s-color;
  padding-top: 60px;
  z-index: 99999;
  @include span(10/10);
}

.hb-menu{
  list-style: none;
  padding: 0;
  width: 100%;

  li{
    line-height: 21px;

    a{
      @extend %trs03;
      @extend %border-box;
      color: #a7b3bc;
      display: block;
      font-size: 16px;
      padding: 6% 10%;
      position: relative;
      text-decoration: none;

      &:hover{
        background: #13222d;
        color: $gray;
      }

      &:before{
        margin-right: 5%;
      }

    }
  }
}

.btn-navigation{
  left: 10%;
  position: absolute;
}
 
@include screen(481px, 1024px) {
  .btn-navigation{
    display: none;
  }
}

@include screen(320px, 480px) {
  .hb-navigation-wrapper{
    @include span(10/10);
  }

  .btn-navigation{
    position: fixed;
    right: 5%;
    top: 10px;
    z-index: 9999;
  }

  .hb-sidebar{
    height: 120%;
    left: -100%;
    overflow: scroll;
    padding-top: 0;
    position: fixed;
    top: 0;
    z-index: 999;

    &.active{
      left: 0;
    }
  }

  .hb-menu{
    li{

      a{
        font-size: 20px;

        &:before{
          margin-right: 10px;
        }
      }
    }
  }
}
 
@include screen(480px, 1024px) {
  .hb-navigation-wrapper{
    @include span(2/10);
    text-align: center;
  }

  .hb-sidebar{
    padding-top: 0;
  }

  .btn-navigation{
    display: none;
  }

  .hb-menu{
    li{
      margin-bottom: 10px;

      a{
        display: block;
        font-size: 16px;

        &::before{
          display: block;
          font-size: 22px;
        }
      }
    }
  }
}

@include screen(1024px, 1920px) {
  .hb-wrapper.active .hb-navigation-wrapper{
    @include span(.5/10);
  }

  .hb-wrapper.active .hb-menu{
    a{
      font-size: 0;
      text-align: center;

      &::before{
        font-size: 40px;
      }
    }
  }
}

@include min-screen(1366px) {
  .hb-navigation-wrapper{
    @include span(1.5/10);
  }
}
