// Base Class Definition
// -------------------------

[class^="hb-ico-"]:before, 
[class*=" hb-ico-"]:before{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-right: 1%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
